@use '../styles/fonts.scss' as *;

.header {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid;
    margin-bottom: 1em;

    h1 {
        font-size: 5rem;
    }
}

.subtitle {
    font-size: 1.5rem;
    padding-left: 1rem;
    font-family: $font-mono;
}

.footer {
    display: flex;
    justify-content: right;
    padding-left: 1rem;
}