@use '../../styles/fonts.scss' as *;

.post_body {
    font-family: $font-sans;
    font-size: 1.2rem;
}

.post_header {
    font-family: $font-serif;
    font-size: 3rem;
}

.postErrata {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background-color: unset;
        color: black;
        border: 1px solid black;
        margin: 0.1rem;
    }

    button:hover {
        color:red;
        border: 1px solid red;
        transition: border-color .15s ease-in-out, color .15s ease-in-out;
        
    }

    p {
        padding-top: 1.2rem;
    }
}
