@use '../styles/fonts.scss' as *;
@use '../styles/theme.scss' as *;

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    background: linear-gradient(
        to right bottom,
        rgb(236, 72, 153),
        rgb(239, 68, 68),
        rgb(245, 158, 11)
    );
}

.hometext {
    font-family: $font-title;
    color: $background-color;
    font-size: 10rem;
}
