@use 'styles/fonts' as *;
@use 'styles/theme' as *;

body {
    line-height: 1.5;
    color: $primary-color;
    background-color: $background-color;
    font-family: $font-sans
}

a {
    color: $accent-color;
}

h1,
h2,
strong {
    color: #333;
}

h1 {
    font-family: $font-title;
}

pre,
code{
    font-family: $font-mono
}

a{
    h2{
        color: $accent-color
    }
}

.ProseMirror p {
    padding: 1em;
    background: var(--white);
    border: var(--border);
    border-radius: var(--br);
    color: var(--text);
    width: 100%;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }