@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Open Sans", system-ui, sans-serif;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: "Source Sans 3";
    }
    pre,code{
        font-family: "Fira Code";
    }
}